$md: 992px; //breakpoint for smaller devices
$lg: 1200px; //desktop


@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: $sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: $md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: $lg) {
      @content;
    }
  }
}

@mixin justifyVertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin standardWidth {
  width: 95%;
  margin: 0 auto;
}

@mixin desktop {
  @media screen and (max-width: 800px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Bitter', serif;
}

body {
  background: url("../images/kirill-balobanov-RIEiEBQgOeE-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

@include respond(md) {
  body {
    background: url("../images/background2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    display: flex;
    height: 101vh;
    flex-direction: column;
    justify-content: space-between;
  

  }
  }




.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  padding-top: 20px;
  color: white;
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto;
  .left_header {
    width: 20%;
    display: flex;
    justify-content: space-around;
    .lines {
      width: 20px;
      cursor: pointer;
    }
    @include respond(md) {
      .lines {
        width: 30px;
      }
    }
  }
  @include respond(md) {
    .left_header {
      font-size: 1.5rem;
      width: 40%;
    }

  }

  .right_header {
    background: white;
    border-radius: 30px;
    width: 8%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    transition-duration: .5s;
    
    .avatar {
      width: 20px;

      :hover {
        transform: scale(1.4);
        transition-duration: .5s;
      }
    }

    .header_line {
      height: 60%;
      width: 1px;
      background: lightgray;
    }

    .search {
      width: 20px;
    }
  }

  @include respond(md) {
    .right_header {
      width: 12%;
    }
    

  }

  .right_header:hover {
    background: lightslategrey;
    border-radius: 30px;
    width: 8%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .avatar:hover {
      transform: scale(.8);
      transition-duration: .5s;
    }
    
    .search:hover {
      transform: scale(.8);
      transition-duration: .5s;
    }


    }

}

.mid_content {
  padding-top: 20px;
  margin: 0 auto;
  display: flex;
  width: 90%;
  justify-content: space-between;

  .mid_content_left {
    display: flex;
    align-items: center;
  }

  .mid_header {
    position: absolute;
    height: 100px;
    transform: rotate(-90deg);
    top: 330px;
    left: -130px;

  }

  @include respond(md) {
    .mid_header {
      position: static;
    transform: rotate(0deg);
    height: 100%;

    }

  }

  h3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    color: white;
    font-size: 4rem;
  }

  .mid_text {
    width: 350px;
    color: white;
    margin-left: 200px;


    .num_box {
      border: 1px solid lightslategrey;
      padding: 20px;
      width: min-content;
      color: white;
      font-weight: bold;
      font-size: 1.2rem;
      margin-bottom: 15px;
    }

    @include respond(md) {
      .num_box {
        font-size: 3rem;
      }
      }

    p {
      line-height: 25px;
      font-weight: 400;

    }

    @include respond(md) {
      p {
        font-size: 2rem;
        line-height: 55px;
        width: 80vw;

      }
      }



    .para_first {
      margin-bottom: 15px;
    }
  }

  @include respond(md) {
    .mid_text {
      margin-left: 0px;
      width: min-content;

    }
    }



  .read_more {
    text-decoration: underline;
    line-height: 55px;

  }

  .icons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: auto;
    cursor: pointer;

    :hover {
      background: lightslategrey;
        transform: scale(1.2) rotate(360deg);
        transition-duration: 1s;
  
      }

  }

  .social_icon_container {
    margin-top: 45px;
    margin-right: 15px;
    border: 1px solid white;
    padding: 15px;
    width: 42px;
    height: 42px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

  
  }

  .social_icon {
    width: 20px;
    color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;



  }

  .mid_content_right {
    display: flex;
    align-items: center;
    justify-content: center;

    .vertical_line {
      height: 80vh;

      width: 1px;
      border-right: 1px solid white;
      opacity: 0.2;
    }
    @include respond(md) {
        .vertical_line {
          display: none;
        }
    }

  }
}

@include respond(md) {
  .mid_content {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 300px;

  }
  }
  @include respond(md) {
    .mid_text {
      margin-top: 100px;

      .para_first {
        margin-top: 80px;


      }
    }
  }

.bottom_content {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


  p {
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-right: 15px;

  }

  .bottom_line_left {
    opacity: 0.5;
    width: 17%;
    height: 1px;
    border-bottom: 1px solid white;
  }

  .bottom_img {
    width: 42px;
    height: 42px;
    margin-left: 15px;

  }

  .bottom_line_right {
    opacity: 0.5;
    margin-right: 15px;
    width: 50%;
    height: 1px;
    border-bottom: 1px solid white;
  }

  .arrows {
    width: 8%;
    display: flex;
    justify-content: space-between;

  }

  .arrow_container {
    border: 1px solid white;
    padding: 10px;
    border-radius: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition-duration: .3s;


    img {
      width: 20px;
    }

  }
  .arrow_container:hover {
    border: 1px solid lightslategrey;

    .left_arrow {
      transform: rotate(180deg) scale(1.2);
      transition-duration: .3s;

    }
  


    .right_arrow {
      transform: scale(1.2);
      transition-duration: .3s;

    }

  }


  .left_arrow {
    transform: rotate(180deg);

  }
}
@include respond(md) {
  .bottom_content {
    position: absolute;
    bottom: 15px;
  }
}

.right_pic {
  position: absolute;
  top: 20%;
  right: 0px;

  img {
    width: 400px;
    position: relative;
  }
}



.circle {
  width: 300px;
  height: 300px;
  border: solid 1px lightslategrey;
  padding: 30px;
  border-radius: 700px;
  z-index: 99999999999;
  position: absolute;
  bottom: -200px;
  left: -180px;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .circle_text {
    
    color: white;
    text-align: center;
    padding-bottom: 50px;
    font-size: 1.5rem;

    p {
      opacity: 1;

    }
  }
}
@include respond(md) {
  .circle {
    bottom: -100px;
    left: -160px;

    width: 200px;
    height: 200px;
    }
}

@include respond(md) {
.right_pic {
  display: none;

}
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}