*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Bitter', serif;
}

body {
  background: url("../images/kirill-balobanov-RIEiEBQgOeE-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header {
  padding-top: 20px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

header .left_header {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .left_header .lines {
  width: 20px;
}

header .right_header {
  background: white;
  border-radius: 30px;
  width: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .right_header .avatar {
  width: 20px;
}

header .right_header .header_line {
  height: 60%;
  width: 1px;
  background: lightgray;
}

header .right_header .search {
  width: 20px;
}

.mid_content {
  padding-top: 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mid_content .mid_content_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mid_content .mid_header {
  position: absolute;
  height: 100px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 330px;
  left: -130px;
}

.mid_content h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: white;
  font-size: 4rem;
}

.mid_content .mid_text {
  width: 350px;
  color: white;
  margin-left: 200px;
}

.mid_content .mid_text .num_box {
  border: 1px solid lightslategrey;
  padding: 20px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.mid_content .mid_text p {
  line-height: 25px;
  font-weight: 400;
}

.mid_content .mid_text .para_first {
  margin-bottom: 15px;
}

.mid_content .read_more {
  text-decoration: underline;
  line-height: 55px;
}

.mid_content .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: auto;
}

.mid_content .social_icon_container {
  margin-top: 45px;
  margin-right: 15px;
  border: 1px solid white;
  padding: 15px;
  width: 42px;
  height: 42px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mid_content .social_icon {
  width: 20px;
  color: white;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mid_content .mid_content_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mid_content .mid_content_right .horizontal_line {
  height: 80vh;
  width: 1px;
  border-right: 1px solid white;
}

.bottom_content {
  padding-top: 20px;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom_content p {
  color: white;
}

.bottom_content .bottom_line_left {
  width: 17%;
  height: 1px;
  border-bottom: 1px solid white;
}

.bottom_content .bottom_img {
  width: 42px;
  height: 42px;
}

.bottom_content .bottom_line_right {
  width: 50%;
  height: 1px;
  border-bottom: 1px solid white;
}

.bottom_content .arrows {
  width: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom_content .arrow_container {
  border: 1px solid white;
  padding: 10px;
  border-radius: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom_content .arrow_container img {
  width: 20px;
}

.bottom_content .left_arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.right_pic {
  position: absolute;
  top: 20%;
  right: 0px;
}

.right_pic img {
  width: 400px;
  position: relative;
}

.circle {
  width: 300px;
  height: 300px;
  border: solid 1px lightslategrey;
  padding: 30px;
  border-radius: 700px;
  z-index: 99999999999;
  position: absolute;
  bottom: -200px;
  left: -180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.circle .circle_text {
  color: white;
  text-align: center;
  padding-bottom: 50px;
  font-size: 1.5rem;
}
/*# sourceMappingURL=styles.css.map */